<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실시간 환경 신호등</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/final_styles.css') }}">
</head>
<body>
    <div class="signal-page-wrapper">
        <main class="container">
            <div class="score-panel">
                <h1 id="score-points">...</h1>
                <p id="score-level"></p>
            </div>
            <div class="lights-panel">
                <div class="light" id="light-orange"></div>
                <div class="light" id="light-yellow"></div>
                <div class="light" id="light-green"></div>
            </div>
            <div class="activity-panel">
                <p>LAST ACTIVITY: <span id="last-activity">...</span></p>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/signal_main.js') }}"></script>
</body>
</html>